.loading {
    display: flex;
    align-self: center;
    margin-bottom: 26%;
    color: white;
    font-size: 30px;
}

.score {
    background-color: #4c6266;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    padding: 40px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin-top: 100px;
    top: 0;
    border-radius: 5px;
    cursor: default;
    width: 205px;
}

.score-final-container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    margin-top: 100px;
}

.score-final {
    background-color: #4c6266;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    /* width: 14rem; */
    padding: 40px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 0;
    border-radius: 5px;
    cursor: default;
}


.end-container {
    font-family: 'Overpass', sans-serif;
    background-color: #4c6266;
    width: 65%;
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    text-align: -webkit-center;
}

.end-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.end-button {
    display: flex;
    margin-top: 21.5px;
    width: 145px;
    height: 60px;
    font-size: 25px;
    background-color: slategrey;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 0px; */
    margin: 14px;
}

.score-result {
    margin: 10px;
    width: 82%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 5px;
    cursor: default;
}

.percent {
    font-size: 30px;
}