.loader {
    display: flex;
    position: absolute;
    align-self: center;
    /* margin-bottom: 26%; */
    top: 0;
    margin-top: 100px;
    color: white;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }

.score {
    background-color: #131f2f;
    font-family: 'Roboto';
    font-size: 25px;
    padding: 40px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin-top: 100px;
    top: 0;
    border-radius: 5px;
    cursor: default;
    width: 205px;
}

.score-final-container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    margin-top: 100px;
}

.score-final {
    background-color: #131f2f;;
    font-family: 'Roboto';
    font-size: 25px;
    /* width: 14rem; */
    padding: 40px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 0;
    border-radius: 5px;
    cursor: default;
}


.end-container {
    font-family: 'Roboto';
    background-color: #18274294;
    width: 65%;
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    text-align: -webkit-center;
    margin-top: 20px;
}

.end-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    
}

.end-button {
    display: flex;
    margin-top: 21.5px;
    width: 145px;
    height: 60px;
    font-size: 25px;
    background-color: #131f2f;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 7px black;    
    margin: 14px;
    transition: all 0.3s ease-out;

}

.end-button:hover {
    background-color: #2b3c4c;
}

.score-result {
    width: 82%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 5px;
    cursor: default;
}

.percent {
    font-size: 30px;
}

.score-blurb {
    margin-top: 10px;
    font-size: 18px;
}