.home {
    background-color: #2b3132;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    cursor: default;
}

.welcome-title {
    font-size: 30px
}

.home-container {
    background-color: #4c6266;
    font-family: 'Overpass', sans-serif;
    justify-content: center;
    width: 65%;
    height: fit-content;
    color: white;
    border-radius: 5px;
    cursor: default;
    padding-bottom: 60px;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.intro-description {
    white-space: pre-wrap;
    text-align: -webkit-center;
    font-size: 23px;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.quiz-item {
    background-color: slategrey;
    margin: 10px;
    width: 82%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    white-space: pre-wrap;
    padding: 45px
}

.quiz-item:hover {
    background-color: rgb(127, 136, 145);
    margin: 10px;
    width: 82%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    white-space: pre-wrap;
    padding: 45px
}

.quiz-item:active {
    background-color: slategrey;
    margin: 10px;
    width: 82%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    white-space: pre-wrap;
    padding: 45px
}

@media screen and (max-width: 960px) {
    .quiz-container {
        width: 90%;
    }

    .question-prompt {
        font-size: 20px
    }

    .answer, .answer:hover, .answer-correct, .answer-incorrect {
        font-size: 15px;
        width: 100%;
    }

    .score {
        font-size: 20px;
    }

    .score-final {
        font-size: 20px;
    }

    .score-result {
        font-size: 30px;
        margin: 0px
    }

    .end-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .end-button {
        font-size: 20px;
    }

    .intro-description {
    white-space: pre-wrap;
    text-align: -webkit-center;
    font-size: 15px;
    }

    .quiz-item {
        background-color: slategrey;
        margin: 10px;
        width: 82%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 5px;
        white-space: pre-wrap;
        padding: 15px;
    }

    .quiz-item:hover {
        background-color: rgb(127, 136, 145);
        margin: 10px;
        width: 82%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 5px;
        white-space: pre-wrap;
        padding: 15px;
    }

    .quiz-item:active{
        background-color: slategrey;
        margin: 10px;
        width: 82%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 5px;
        white-space: pre-wrap;
        padding: 15px;
    }
    .welcome-title {
        font-size: 20px
    }
}

