.navbar {
    height: 80px;
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    z-index: 999; 
    font-family: 'Pacifico', cursive;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  /* max-width: 1300px; */
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  cursor: default;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: default;
  text-decoration: none;
  font-size: 37px;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  font-family: 'Overpass', sans-serif;
  margin-right: -20px;
}

.nav-item {
    height: 80px;
    margin-top: 22px;
    font-size: 40px;
    margin-right: 25px;
    border-bottom: 2px solid transparent;
}

/* .nav-item:hover {
  border-bottom: 2px solid #f00946;
} */

.nav-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: bolder;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

i.fab.fa-linkedin {
    color: white;
}

i.fab.fa-github {
    color: white;
}

i.fab.fa-linkedin:hover {
    color: royalblue;
}

i.fab.fa-github:hover {
    color: #500750;
}
