.footer {
    background: #2b3132;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    position: sticky;
    bottom: 0;
    font-family: 'Permanent Marker', cursive;
}

.footer-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: fixed;
    z-index: -1;
    bottom: 0;
}
.footer-logo {
  color: white;
  justify-self: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: default;
}