.footer {
    /* background: #2b3132; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    position: sticky;
    bottom: 0;
    z-index: 999;
    font-family: 'Permanent Marker', cursive;
}


.footer-container {
  display: flex;
  justify-content: center;
  height: 80px;
  
}

/* .container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  
} */

.footer-logo {
  color: white;
  justify-self: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  
}

/* .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
    font-family: 'Overpass', sans-serif;

} */

